@charset "utf-8";
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
}
img {
  border: none;
}
li {
  list-style: none;
}
input,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
  content: "";
}
.display-none {
  display: none !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* =================================================== */
@font-face {
  font-family: 'office';
  src: url('../font/office.eot?36564043');
  src: url('../font/office.eot?36564043#iefix') format('embedded-opentype'), url('../font/office.woff?36564043') format('woff'), url('../font/office.ttf?36564043') format('truetype'), url('../font/office.svg?36564043#office') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
#page-container,
.page-section {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}
#page-container {
  position: absolute;
  top: 0;
  left: 0;
  font: normal 14px/1.5 "Segoe UI", "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", Arial;
}
.bg-info {
  background-color: #e65e68;
}
.bg-project {
  background-color: #77dcba;
}
.bg-intern {
  background-color: #f6dc85;
}
.bg-opensource {
  background-color: #65aee1;
}
.pagination {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 25px;
  width: 14px;
  z-index: 1;
  margin: auto;
  padding: 12px 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.pagination li {
  width: 14px;
  height: 14px;
  margin: 12px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
.pagination .active {
  background-color: #FFFFFF;
}
.content-container {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  width: 1000px;
  height: 560px;
  margin: auto;
  padding: 1px 0;
  color: #ffffff;
}
/*第一页 个人信息*/
.info-container {
  margin: 50px 100px 0 90px;
}
.info-container h2,
.skill-container h2 {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1.1em;
}
.info-container p {
  font-size: 22px;
  line-height: 40px;
}
.info-photo {
  position: relative;
  z-index: 1;
  float: right;
  width: 220px;
  height: 220px;
  margin-top: -15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 8px solid rgba(219, 198, 203, 0.6);
}
.info-icon {
  display: inline-block;
  width: 36px;
  margin-right: 10px;
  font-size: 28px;
  line-height: 36px;
  vertical-align: middle;
  color: #dbc6cb;
}
.icon-list {
  float: left;
  height: auto;
  margin: 10px 10px 0 0;
}
.icon-list a {
  height: auto;
  font-size: 40px;
  color: #101647;
  color: rgba(16, 22, 71, 0.8);
}
.icon-list a:hover {
  color: #dbc6cb;
}
.iconmoon:before {
  font-family: "office";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-left: 5px;
  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pdf:before {
  content: '\e800';
}
.icon-weibo:before {
  content: '\e801';
}
.icon-user:before {
  content: '\e802';
}
.icon-wechat:before {
  content: '\e803';
  font-size: 36px;
}
.icon-linkedin-squared:before {
  content: '\e804';
}
.icon-mail-alt:before {
  content: '\e805';
  font-size: 26px;
}
.icon-graduation-cap:before {
  content: '\e806';
  margin-left: 0;
}
.icon-github-circled:before {
  content: '\e807';
}
.icon-blogger-rect:before {
  content: '\e808';
  font-size: .9em;
}
.skill-container {
  margin: 25px 90px auto;
}
.skills {
  position: relative;
  height: 130px;
  line-height: 0.9;
  font-family: "Meiryo UI", "Segoe UI", "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", Arial;
}
.small-font {
  font-size: 22px;
}
.medium-font {
  font-size: 28px;
}
.large-font {
  font-size: 36px;
}
.jquery {
  position: absolute;
  top: 19.23076923%;
  left: 12.22493888%;
}
.less {
  position: absolute;
  top: 38.46153846%;
  left: 2.44498778%;
}
.grunt {
  position: absolute;
  top: 73.84615385%;
  left: 4.88997555%;
}
.css {
  position: absolute;
  top: 63.07692308%;
  left: 16.13691932%;
}
.canvas {
  position: absolute;
  top: 46.15384615%;
  left: 26.40586797%;
}
.javascript {
  position: absolute;
  top: 8.46153846%;
  left: 31.78484108%;
}
.html5 {
  position: absolute;
  top: 67.69230769%;
  left: 34.96332518%;
}
.css3 {
  position: absolute;
  top: 48.46153846%;
  left: 46.45476773%;
}
.git {
  position: absolute;
  top: 23.07692308%;
  left: 57.94621027%;
}
.angularjs {
  position: absolute;
  top: 66.15384615%;
  left: 55.99022005%;
}
.html {
  position: absolute;
  top: 28.46153846%;
  left: 66.50366748%;
}
.zepto {
  position: absolute;
  top: 13.84615385%;
  left: 79.46210269%;
}
.bootstrap {
  position: absolute;
  top: 42.30769231%;
  left: 83.98533007%;
}
.svn {
  position: absolute;
  top: 69.23076923%;
  left: 89.73105134%;
}
.php {
  position: absolute;
  top: 63.84615385%;
  left: 77.62836186%;
}
/* ---------- 第二页 ----------- */
.container-padding {
  padding: 1px 50px;
}
.project-left,
.project-right {
  position: relative;
  float: left;
  width: 400px;
  height: 100%;
  font-size: 18px;
  color: #5d5959;
}
.page-title {
  margin: 38px 0 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1em;
  color: #ffffff;
}
.title-border-bottom {
  display: inline-block;
  text-align: center;
  border-bottom: 5px solid #ffffff;
}
.page-title em {
  margin-left: 130px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  color: #5d5959;
}
.project-left .project-block {
  text-align: right;
}
.project-right .project-block {
  text-align: left;
}
.project-block {
  position: relative;
  margin-top: 30px;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #77dcba;
  background-color: #ffffff;
}
.project-right .project-block {
  margin-top: 140px;
}
.project-block h3 {
  margin-top: 5px;
  font-size: 24px;
  line-height: 1.2em;
}
.project-block .date {
  margin: 0;
  color: #dbc6cb;
}
.project-block p,
.text p {
  margin-top: 10px;
}
.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}
.large-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.45);
}
.small-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
}
.project-left .triangle {
  top: 45px;
  right: -20px;
  border-left-color: #ffffff;
}
.project-right .triangle {
  bottom: 45px;
  left: -20px;
  border-right-color: #ffffff;
}
.project-left .large-circle {
  top: 262px;
  right: 9px;
}
.project-right .large-circle {
  bottom: 174px;
  left: 9px;
}
.project-separator {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -1px;
  width: 2px;
  background-color: #ffffff;
}
/* -------- 第三页 --------*/
.intern-block-container {
  width: 945px;
  margin: 0 auto;
}
.intern-block {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}
.intern-block-wrapper {
  position: relative;
  float: left;
  margin: 10px 50px 30px;
  width: 215px;
  height: 350px;
}
.intern-separator {
  height: 2px;
  margin: 0 30px;
  background-color: #ffffff;
}
.intern-block-wrapper .large-circle {
  bottom: -43px;
  left: 0;
  right: 0;
  margin: auto;
}
.intern-block .picture {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.intern-block .text {
  padding: 15px;
  font-size: 15px;
  color: #e0c773;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.text h3 {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.2em;
  color: #f6dc85;
}
.enter {
  margin-top: 10px;
  color: #384c76;
  text-align: right;
  text-decoration: underline;
}
/* -------- 第四页 ------- */
.bg-opensource .project-left .triangle {
  top: 65px;
}
.bg-opensource .project-right .triangle {
  bottom: 65px;
}
.bg-opensource .large-circle {
  top: 73px;
}
.bg-opensource .project-right .large-circle {
  top: auto;
  bottom: 67px;
}
.bg-opensource .project-block {
  color: #65aee1;
}
.bg-opensource .page-title em {
  color: #dbc6cb;
}
.bg-opensource .project-left,
.bg-opensource .project-right {
  height: 56%;
}
.bg-opensource .project-left .project-block,
.bg-opensource .project-right .project-block {
  margin-top: 10px;
}
.bg-opensource .page-title {
  padding: 0 50px;
  clear: both;
}
.download-cv:before {
  margin-right: 7px;
  font-size: 0.9em;
  vertical-align: middle;
}
.download-cv {
  font-size: 0.5em;
  text-decoration: underline;
}
/* ----- 动画相关 ----- */
.transition-color {
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  -ms-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
.fade-to-right,
.fade-to-left {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.5s ease, opacity 0.4s ease, visibility 0.4s ease;
  -moz-transition: transform 0.5s ease, opacity 0.4s ease, visibility 0.4s ease;
  -ms-transition: transform 0.5s ease, opacity 0.4s ease, visibility 0.4s ease;
  -o-transition: transform 0.5s ease, opacity 0.4s ease, visibility 0.4s ease;
  transition: transform 0.5s ease, opacity 0.4s ease, visibility 0.4s ease;
}
.fade-to-right-begin {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
}
.fade-to-right-end,
.fade-to-left-end {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.fade-to-left-begin {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
}
.fade {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s linear, visibility 0.5s linear;
  -moz-transition: opacity 0.5s linear, visibility 0.5s linear;
  -ms-transition: opacity 0.5s linear, visibility 0.5s linear;
  -o-transition: opacity 0.5s linear, visibility 0.5s linear;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}
.fade-begin {
  opacity: 0;
  visibility: hidden;
}
.fade-end {
  opacity: 1;
  visibility: visible;
}
.scale {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}
.scale-begin {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.scale-end {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.rotate {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
  -moz-transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
  -ms-transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
  -o-transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
  transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
}
.rotate-begin {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
.rotate-end {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
