@charset "utf-8";

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; }
body { font-size: 12px; }
img { border: none; }
li { list-style: none; }
input, select, textarea { outline: none; }
textarea { resize: none; }
a { text-decoration: none; }

.clearfix {
    display: block;
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
    content: "";
}

.display-none {
    display: none !important;;
}

.fl { float: left; }
.fr { float: right; }

/* =================================================== */
@mainColorRed: #e65e68;
@mainColorGreen: #77dcba;
@mainColorYellow: #f6dc85;
@mainColorBlue: #65aee1;
@strongColorDeepBlue: #101647;
@strongColorBlue: #384c76;
@strongColorGray: #5d5959;
@fontColor: #FFFFFF;
@bgColor: #dbc6cb;


@font-face {
    font-family: 'office';
    src: url('../font/office.eot?36564043');
    src: url('../font/office.eot?36564043#iefix') format('embedded-opentype'),
    url('../font/office.woff?36564043') format('woff'),
    url('../font/office.ttf?36564043') format('truetype'),
    url('../font/office.svg?36564043#office') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body,
#page-container,
.page-section {
    position: relative;
    width: 100%;
    height: 100%;
}
body { overflow: hidden; }

#page-container {
    position: absolute;
    top: 0;
    left: 0;
    font: normal 14px/1.5 "Segoe UI", "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", Arial;
}

.bg-info { background-color: @mainColorRed; }
.bg-project { background-color: @mainColorGreen; }
.bg-intern { background-color: @mainColorYellow ; }
.bg-opensource { background-color: @mainColorBlue; }

.pagination {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 25px;
    width: 14px;
    z-index: 1;

    margin: auto;
    padding: 12px 10px;

    -webkit-border-radius   : 25px;
    -moz-border-radius      : 25px;
    border-radius           : 25px;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.pagination li {
    width: 14px;
    height: 14px;
    margin: 12px 0;

    -webkit-border-radius   : 50%;
    -moz-border-radius      : 50%;
    border-radius           : 50%;

    cursor: pointer;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
}

.pagination .active {
    background-color: #FFFFFF;
}

.content-container {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;

    width: 1000px;
    height: 560px;
    margin: auto;
    padding: 1px 0;

    color: @fontColor;
}

/*第一页 个人信息*/
.info-container {
    margin: 50px 100px 0 90px;
}

.info-container h2,
.skill-container h2 {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.1em;
}

.info-container p {
    font-size: 22px;
    line-height: 40px;
}

.info-photo {
    position: relative;
    z-index: 1;
    
    float: right;
    width: 220px;
    height: 220px;
    margin-top: -15px;

    -webkit-border-radius   : 50%;
    -moz-border-radius      : 50%;
    border-radius           : 50%;
    border: 8px solid rgba(219, 198, 203, 0.6);

}

.info-icon {
    display: inline-block;
    width: 36px;
    margin-right: 10px;

    font-size: 28px;
    line-height: 36px;
    vertical-align: middle;

    color: @bgColor;
}

.icon-list {
    float: left;
    height: auto;
    margin: 10px 10px 0 0;
}

.icon-list a {
    height: auto;
    font-size: 40px;
    color: rgb(16, 22, 71);
    color: rgba(16, 22, 71, 0.8);

    &:hover {
        color: @bgColor;
    }
}

.iconmoon:before {
    font-family: "office";
    font-style: normal;
    font-weight: normal;
    speak: none;
    margin-left: 5px;

    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before { content: '\e800'; }
.icon-weibo:before { content: '\e801'; }
.icon-user:before { content: '\e802';}
.icon-wechat:before { content: '\e803'; font-size: 36px;}
.icon-linkedin-squared:before { content: '\e804'; }
.icon-mail-alt:before { content: '\e805'; font-size: 26px;}
.icon-graduation-cap:before { content: '\e806'; margin-left: 0; }
.icon-github-circled:before { content: '\e807'; }
.icon-blogger-rect:before { content: '\e808'; font-size: .9em;}

@skillsWidth: 818px;
@skillsHeight: 130px;

.skill-container {
    margin: 25px 90px auto;
}

.skills {
    position: relative;
    height: @skillsHeight;

    line-height: 0.9;
    font-family: "Meiryo UI", "Segoe UI", "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", Arial;
}

.small-font { font-size: 22px; }
.medium-font { font-size: 28px; }
.large-font { font-size: 36px; }

@jqueryTop: 25px;
@jqueryLeft: 100px;
.jquery {
    position: absolute;
    top: percentage(@jqueryTop/@skillsHeight);
    left: percentage(@jqueryLeft/@skillsWidth);
}

@lessTop: 50px;
@lessLeft: 20px;
.less {
    position: absolute;
    top: percentage(@lessTop/@skillsHeight);
    left: percentage(@lessLeft/@skillsWidth);
}

@gruntTop: 96px;
@gruntLeft: 40px;
.grunt {
    position: absolute;
    top: percentage(@gruntTop/@skillsHeight);
    left: percentage(@gruntLeft/@skillsWidth);
}

@cssTop: 82px;
@cssLeft: 132px;
.css {
    position: absolute;
    top: percentage(@cssTop/@skillsHeight);
    left: percentage(@cssLeft/@skillsWidth);
}

@canvasTop: 60px;
@canvasLeft: 216px;
.canvas {
    position: absolute;
    top: percentage(@canvasTop/@skillsHeight);
    left: percentage(@canvasLeft/@skillsWidth);
}

@javascriptTop: 11px;
@javascriptLeft: 260px;
.javascript {
    position: absolute;
    top: percentage(@javascriptTop/@skillsHeight);
    left: percentage(@javascriptLeft/@skillsWidth);
}

@html5Top: 88px;
@html5Left: 286px;
.html5 {
    position: absolute;
    top: percentage(@html5Top/@skillsHeight);
    left: percentage(@html5Left/@skillsWidth);
}

@css3Top: 63px;
@css3Left: 380px;
.css3 {
    position: absolute;
    top: percentage(@css3Top/@skillsHeight);
    left: percentage(@css3Left/@skillsWidth);
}

@gitTop: 30px;
@gitLeft: 474px;
.git {
    position: absolute;
    top: percentage(@gitTop/@skillsHeight);
    left: percentage(@gitLeft/@skillsWidth);
}

@angularjsTop: 86px;
@angularjsLeft: 458px;
.angularjs {
    position: absolute;
    top: percentage(@angularjsTop/@skillsHeight);
    left: percentage(@angularjsLeft/@skillsWidth);
}

@htmlTop: 37px;
@htmlLeft: 544px;
.html {
    position: absolute;
    top: percentage(@htmlTop/@skillsHeight);
    left: percentage(@htmlLeft/@skillsWidth);
}

@zeptoTop: 18px;
@zeptoLeft: 650px;
.zepto {
    position: absolute;
    top: percentage(@zeptoTop/@skillsHeight);
    left: percentage(@zeptoLeft/@skillsWidth);
}

@bootstrapTop: 55px;
@bootstrapLeft: 687px;
.bootstrap {
    position: absolute;
    top: percentage(@bootstrapTop/@skillsHeight);
    left: percentage(@bootstrapLeft/@skillsWidth);
}

@svnTop: 90px;
@svnLeft: 734px;
.svn {
    position: absolute;
    top: percentage(@svnTop/@skillsHeight);
    left: percentage(@svnLeft/@skillsWidth);
}

@phpTop: 83px;
@phpLeft: 635px;
.php {
    position: absolute;
    top: percentage(@phpTop/@skillsHeight);
    left: percentage(@phpLeft/@skillsWidth);
}

/* ---------- 第二页 ----------- */
.container-padding { padding: 1px 50px; }

.project-left,
.project-right {
    position: relative;
    float: left;
    width: 400px;
    height: 100%;

    font-size: 18px;
    color: @strongColorGray;
}

.page-title {
    margin: 38px 0 20px;

    font-size: 40px;
    font-weight: bold;
    line-height: 1.1em;
    color: @fontColor;
}

.title-border-bottom {
    display: inline-block;
    text-align: center;
    border-bottom: 5px solid @fontColor;
}

.page-title em {
    margin-left: 130px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    color: @strongColorGray;
}

.project-left .project-block { text-align: right; }
.project-right .project-block { text-align: left; }

.project-block {
    position: relative;
    margin-top: 30px;
    padding: 10px 20px;

    -webkit-border-radius   : 10px;
    -moz-border-radius      : 10px;
    border-radius           : 10px;

    color: @mainColorGreen;
    background-color: @fontColor;
}

.project-right .project-block {
    margin-top: 140px;
}

.project-block h3 {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.2em;
}

.project-block .date {
    margin: 0;
    color: @bgColor;
}

.project-block p,
.text p {
    margin-top: 10px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;

    border: 10px solid transparent;
}

.large-circle {
    position: absolute;
    width: 25px;
    height: 25px;

    -webkit-border-radius   : 50%;
    -moz-border-radius      : 50%;
    border-radius           : 50%;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.45);
}

.small-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 15px;
    height: 15px;
    margin: auto;

    -webkit-border-radius   : 50%;
    -moz-border-radius      : 50%;
    border-radius           : 50%;
    background-color: @fontColor;
}

.project-left .triangle {
    top: 45px;
    right: -20px;
    border-left-color: @fontColor;
}

.project-right .triangle {
    bottom: 45px;
    left: -20px;
    border-right-color: @fontColor;
}

.project-left .large-circle {
    top: 262px;
    right: 9px;
}

.project-right .large-circle {
    bottom: 174px;
    left: 9px;
}

.project-separator {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -1px;
    width: 2px;
    background-color: @fontColor;
}

/* -------- 第三页 --------*/
.intern-block-container {
    width: 945px;
    margin: 0 auto;
}

.intern-block {
    width: 100%;
    height: 100%;

    -webkit-border-radius   : 7px;
    -moz-border-radius      : 7px;
    border-radius           : 7px;
    border: 5px solid @fontColor;

    background-color: @fontColor;
    cursor: pointer;
}

.intern-block-wrapper {
    position: relative;
    float: left;
    margin: 10px 50px 30px;
    width: 215px;
    height: 350px;
}

.intern-separator {
    height:2px;
    margin: 0 30px;
    background-color: @fontColor;
}

.intern-block-wrapper .large-circle {
    bottom: -43px;
    left: 0;
    right: 0;
    margin: auto;
}

.intern-block .picture {
    width: 100%;
    height: 100%;

    -webkit-border-radius   : 7px;
    -moz-border-radius      : 7px;
    border-radius           : 7px;
}

.intern-block .text {
    padding: 15px;
    font-size: 15px;
    color: #e0c773;

    -webkit-transform   : rotateY(180deg);
    -moz-transform      : rotateY(180deg);
    -ms-transform       : rotateY(180deg);
    -o-transform        : rotateY(180deg);
    transform           : rotateY(180deg);
}

.text h3 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.2em;
    color: @mainColorYellow;
}

.enter {
    margin-top: 10px;
    color: @strongColorBlue;
    text-align: right;
    text-decoration: underline;
}


/* -------- 第四页 ------- */
.bg-opensource .project-left .triangle { top: 65px; }
.bg-opensource .project-right .triangle { bottom: 65px; }
.bg-opensource .large-circle { top: 73px; }

.bg-opensource .project-right .large-circle {
    top: auto;
    bottom: 67px;
}

.bg-opensource .project-block { color: @mainColorBlue; }
.bg-opensource .page-title em { color: @bgColor; }

.bg-opensource .project-left,
.bg-opensource .project-right {
    height: 56%;

    & .project-block {
        margin-top: 10px;
    }
}

.bg-opensource .page-title {
    padding: 0 50px;
    clear: both;
}

.download-cv:before {
    margin-right: 7px;
    font-size: 0.9em;
    vertical-align: middle;
}

.download-cv {
    font-size: 0.5em;
    text-decoration: underline;
}

/* ----- 动画相关 ----- */

.transition-color {
    -webkit-transition  : color 0.7s ease;
    -moz-transition     : color 0.7s ease;
    -ms-transition      : color 0.7s ease;
    -o-transition       : color 0.7s ease;
    transition          : color 0.7s ease;
}

// 从左到右，从右到左 渐入
@fade-to: transform 0.5s ease, opacity 0.4s ease, visibility 0.4s ease;
.fade-to-right,
.fade-to-left {
    opacity: 0;
    visibility: hidden;

    -webkit-transition  : @fade-to;
    -moz-transition     : @fade-to;
    -ms-transition      : @fade-to;
    -o-transition       : @fade-to;
    transition          : @fade-to;
}

@fade-to-right-begin: translateX(-100px);
.fade-to-right-begin {
    opacity: 0;
    visibility: hidden;

    -webkit-transform   : @fade-to-right-begin;
    -moz-transform      : @fade-to-right-begin;
    -ms-transform       : @fade-to-right-begin;
    -o-transform        : @fade-to-right-begin;
    transform           : @fade-to-right-begin;
}

@fade-to-end: translateX(0);
.fade-to-right-end,
.fade-to-left-end {
    opacity: 1;
    visibility: visible;

    -webkit-transform   : @fade-to-end;
    -moz-transform      : @fade-to-end;
    -ms-transform       : @fade-to-end;
    -o-transform        : @fade-to-end;
    transform           : @fade-to-end;
}

@fade-to-left-begin: translateX(100px);
.fade-to-left-begin {
    opacity: 0;
    visibility: hidden;

    -webkit-transform   : @fade-to-left-begin;
    -moz-transform      : @fade-to-left-begin;
    -ms-transform       : @fade-to-left-begin;
    -o-transform        : @fade-to-left-begin;
    transform           : @fade-to-left-begin;
}

// 渐入
@fade: opacity 0.5s linear, visibility 0.5s linear;
.fade {
    opacity: 0;
    visibility: hidden;

    -webkit-transition  : @fade;
    -moz-transition     : @fade;
    -ms-transition      : @fade;
    -o-transition       : @fade;
    transition          : @fade;
}

.fade-begin {
    opacity: 0;
    visibility: hidden;
}

.fade-end {
    opacity: 1;
    visibility: visible;
}

// 扩展渐入
@scale: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
.scale {
    opacity: 0;
    visibility: hidden;

    -webkit-transition      : @scale;
    -moz-transition         : @scale;
    -ms-transition          : @scale;
    -o-transition           : @scale;
    transition              : @scale;
}

@scale-begin: scale(0);
.scale-begin {
    opacity: 0;
    visibility: hidden;

    -webkit-transform  : @scale-begin;
    -moz-transform     : @scale-begin;
    -ms-transform      : @scale-begin;
    -o-transform       : @scale-begin;
    transform          : @scale-begin;
}

@scale-end: scale(1);
.scale-end {
    opacity: 1;
    visibility: visible;

    -webkit-transform  : @scale-end;
    -moz-transform     : @scale-end;
    -ms-transform      : @scale-end;
    -o-transform       : @scale-end;
    transform          : @scale-end;
}

// 翻转渐入
@rotate: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
.rotate {
    opacity: 0;
    visibility: hidden;

    -webkit-transition      : @rotate;
    -moz-transition         : @rotate;
    -ms-transition          : @rotate;
    -o-transition           : @rotate;
    transition              : @rotate;
}

@rotate-begin: rotateY(-45deg);
.rotate-begin {
    opacity: 0;
    visibility: hidden;

    -webkit-transform  : @rotate-begin;
    -moz-transform     : @rotate-begin;
    -ms-transform      : @rotate-begin;
    -o-transform       : @rotate-begin;
    transform          : @rotate-begin;
}

@rotate-end: rotateY(0);
.rotate-end {
    opacity: 1;
    visibility: visible;

    -webkit-transform  : @rotate-end;
    -moz-transform     : @rotate-end;
    -ms-transform      : @rotate-end;
    -o-transform       : @rotate-end;
    transform          : @rotate-end;
}



